<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>{{ title }}</title>

    <link href="players.css" rel="stylesheet">
</head>
<body>
{% for p in players %}
<div class="card">
    <header>
        <h1>{{ p.first_name }} {{ p.last_name }}</h1>
        <h2>{{ p.position }}</h2>
    </header>
    <dl>
        <dt>Skill</dt>
        <dd>{{ p.skill }}</dd>
        <dt>Strength</dt>
        <dd>{{ p.strength }}</dd>
        <dt>Speed</dt>
        <dd>{{ p.speed }}</dd>
    </dl>
    <p>{{ p.flavour }}</p>
</div>
{% endfor %}
</body>
</html>